body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  color: #0A1931;
}

h1, h2 {
  margin: 16px 0 8px;
}

.product-title {
  display: flex;
  align-items: center;
}

.product-title::before {
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" /></svg>');
  display: flex;
  margin-right: 8px;
}

.title {
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #EFEFEF;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #EFEFEF;
}

tr:hover {
  background-color: #EFEFEF;
  /* color: #EFEFEF; */
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #185ADB;
  color: #EFEFEF;
}

/* dekstop */

@media (min-width: 768px) {
  .container {
    max-width: 50vw;
  }
}